@use "./vars" as variables;

@mixin btn(
  $bg: variables.$orange,
  $color: variables.$white,
  $hoverBg: variables.$orange,
  $hoverColor: variables.$white,
  $width: 100%,
  $height: 40px,
  $bradius: 12px,
  $fsize: 16px
) {
  min-width: $width;
  height: $height;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $bg;
  font-family: variables.$family;
  border-radius: $bradius;
  border: none;
  color: $color;
  font-size: $fsize;
  font-weight: 400;
  transition: 0.3s ease;
  outline: none;
  cursor: pointer;
  &:hover {
    background: $hoverBg;
    color: $hoverColor;
  }
}
