@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
$family: "Nunito";

$white: #FFFFFF;
$black: #000000;
$lightOrange: #FFAB08;
$orange: #FF7020;
$background: #F9F9F9;
$gray: #B1B1B1;
$btnGray: #F2F2F3;
$error: #880000;