@use "../styles/vars" as variables;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-family: variables.$family;
  background: variables.$background;
}

[class*="__container"] {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 1024px) {
  [class*="__container"] {
    max-width: none;
  }
}

@media (max-width: 768px) {
  [class*="__container"] {
    max-width: none;
  }
}
